{% extends 'base/base.html' %}
{% block content %}
{% load static %}
<link href="{% static 'icomoon/icomoon.css' %}" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">

<style>

    .section-header {
        margin-bottom: 20px;
        text-align: center;
    }

    .section-title {
        font-family: Poly, serif;
        font-style: normal;
        font-size: 24px;
        color: #333;
    }

    .product_row {
        display: flex;
        flex-wrap: wrap;
    }

    .product-grid {
        background-color: #fff;
        font-family: 'Montserrat', sans-serif;
        text-align: center;
        padding: 5px; /* Adjust padding */
        margin: 0 auto 30px; /* Adjust margin */
        max-width: 250px; /* Adjust max-width for smaller screens */
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    .product-grid .product-image {
        position: relative;
        overflow: hidden;
        height: 200px; /* Set a fixed height for the product image */
    }

    .product-grid .product-image img {
        width: 150%;
        height: 150%; /* Ensure the image fills the container */
        object-fit: cover; /* Maintain aspect ratio and cover the container */

    }

    .add-to-cart-icon {
        position: absolute;
        bottom: 10px; /* Adjust as needed */
        right: 10px; /* Adjust as needed */
        background: rgba(255, 255, 255, 0.7); /* Optional: add background for better visibility */
        border-radius: 50%;
        padding: 5px; /* Adjust as needed */
        color: #333; /* Change color as needed */
        text-align: center;
        width: 30px;
        height: 30px;
        line-height: 20px; /* Align icon vertically */
        font-size: 16px; /* Adjust size as needed */
    }

    .add-to-cart-icon:hover {
        color: #fff; /* Change color on hover */
        background: #333; /* Change background on hover */
    }

    .product-grid .product-content {
        padding: 15px 0 0;
        text-align: left;
    }

    .product-grid .title {
        font-size: 14px;
        font-weight: 500;
        font-family: Poly, serif;
        font-weight: 400;
        font-style: normal;
        text-transform: capitalize;
        margin: 0 0 8px;
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1; /* Limit product name to 1 line */
        line-height: 1.2em; /* Ensure consistent line height */
        max-height: 1.2em; /* Set maximum height for 1 line */
        text-overflow: ellipsis;
    }

    .product-grid .title a {
        color: #333;
        transition: all 0.3s ease 0s;
    }

    .product-grid .title a:hover {
        color: #0a805e;
    }

    .product-grid .price {
        color: #0a805e;
        font-size: 16px;
        font-weight: 500;
    }

    .product-grid .price del {
        color: #555;
        font-size: 14px;
        font-weight: 400;
    }

    @media screen and (max-width: 1000px) {
        .col-md-2 {
            max-width: 50%; /* Adjust maximum width for smaller screens */
            padding-left: 0%;
            padding-right: 0%;
        }

        .product-grid {
            padding: 5px; /* Reduce padding for product grid */
            margin: 0 5px 10px; /* Adjust margin to reduce space between products */
            max-width: 100%; /* Adjust max-width for smaller screens */
        }

        .product_row {
            padding: 0px;
            flex-wrap: wrap;
        }

        .product-grid .product-image {
            height: 150px; /* Adjust height for product image */
        }

        .product-grid .product-content {
            text-align: center; /* Center-align text */
        }

        .product-grid .title {
            font-size: 14px; /* Adjust font size for product title */
            margin-bottom: 5px; /* Add some space below product title */
        }

        .product-grid .price {
            font-size: 14px; /* Adjust font size for product price */
        }

        .container {
            margin: 0; /* Remove default margin for container */
        }
    }

</style>
<div class="container">
    <div class="section-header d-flex flex-wrap align-items-center justify-content-between" style="padding-bottom: 0px;margin-bottom: 0px;">
        <h2 class="section-title" style="margin: 0px;">{{cat_name}}</h2>
        <hr>
    </div>
    {% if not products %}
        none
    {% endif %}
    <div class="product_row">
        {% for i in products %}
        {% if not i.is_deleted %}
        <div class="col-md-2 col-sm-6">
            <div class="product-grid">
                <div class="product-image">
                    <a href="{% url 'product_details' i.id %}" class="image">
                        <img class="pic-1" src="/media/{{i.images_set.first.images}}" class="lazy">
                    </a>
                    <a href="{% url 'add_to_cart' i.id %}" class="add-to-cart-icon">
                        <i class="fas fa-shopping-cart"></i>
                    </a>
                </div>
                <div class="product-content">
                    <h3 class="title"><a href="{% url 'product_details' i.id %}">{{ i.product_name }}</a></h3>
                    <div class="price">₹{{i.price}} <del>₹{{i.max_price}}</del></div>
                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock %}
