{% extends 'base/base.html' %} {%load static%} {% block title %} Buy2Sell {% endblock %} {% block content %}

<style>
    .billing_text {
      font-family: Poly, serif;
        font-weight: 400;
        font-style: normal;
  margin: 0;
  font-size: 16px;
  color: #737373;
}

.food_img_price_des {
  display: flex;
  margin-bottom: 1rem;
}

.food_img_price_des .cart_food_img {
  max-width: 100px;
  overflow: hidden;
  padding: 4px;
}

.food_img_price_des .cart_food_img img {
  width: 80px;
  height: 100px;
  object-fit: cover;
}

.food_img_price_des .food_dec_flex {
  margin-left: 2rem;
}

.food_img_price_des .food_dec_flex p {
  color: #737373;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 14px;
}

.food_img_price_des .food_dec_flex p:last-child {
  color: red;
}

.yourCart_div {
  border: 1px solid #d4d4d491;
  padding: 19px;
  margin-top: 2rem;
}


.cart_total .price_total .Shipping {
  display: flex;
  margin-bottom: 5px;
  justify-content: space-between;
}

.cart_total .price_total .Shipping p {
  color: #737373;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 14px;
}

.total_btn_cart {
  width: 100%;
  background: #ac1734 !important;
  border-color: #ac1734 !important;
  padding: 9px 19px !important;
  display: flex;
  justify-content: space-between;
  color: #fff;
  font-weight: 500;
  border-style: unset;
  font-family: "Montserrat", sans-serif;
}

.total_btn_cart:hover {
  background-color: #ac1734 !important;
  border-color: #ac1734 !important;
}

.cart_total {
  border: 1px solid #d4d4d491;
  padding: 8px 19px;
  border-top: 0;
}

.input_form .input_box_cart input,
.input_form .input_box_cart textarea {
  width: 100%;
  border: 1px solid #d4d4d491;
  outline: none;
  padding: 6px 10px;
  font-weight: 600;
  font-size: 13px;
  resize: none;
  font-family: "Montserrat", sans-serif;
}

.input_form .input_box_cart {
  margin-bottom: 15px;
}

.mb_23px {
  margin-bottom: 20px !important;
}

.text_center_button {
  justify-content: center;
}

.input_form {
  margin-top: 2rem;
}

.footer-parallax-container {
  margin-bottom: 0 !important;
  box-shadow: none;
  min-height: auto !important;
}

.footer-parallax {
  height: auto !important;
  position: relative !important;
  background-color: #f5f5f5 !important;
  z-index: 1;
}

.section-bg-image_full_height {
  background-image: url(../images/hd-8.png);
  background-attachment: fixed;
}

.mt-12px {
  margin-top: 12px !important;
}

.bg_green {
  background-color: #4caf50 !important;
  border-color: #4caf50 !important;
}

.bg_green:hover {
  background-color: #4caf50 !important;
  border-color: #4caf50 !important;
}

button{
  outline:none !important;
}
.message-box {
    padding: 20px;
    margin: 20px;
    color: white;
    border-radius: 5px;
    font-family: Arial, sans-serif;
}

.green {
    background-color: green;
}

.red {
    background-color: red;
}

@media only screen and (max-width: 767px) {
  .container {
            margin: 0; /* Remove default margin for container */
        }
  }
</style>

<div class="container">
                                                                                        

  <!-- content -->
  <form id="regForm" method="POST" action="{% url 'order' %}">
    {% csrf_token %}


  <div class="section-empty">
    <div class="containers">
      <div class="row">
        <div class="col-md-7">
          <p class="billing_text">Billing Address</p>
          <div class="input_form">
            {% if not user.first_name%}
            <div class="row">
              <div class="col-md-6">
                <div class="input_box_cart">
                    <label>First Name</label>
                    <input class="form-control" required type="text" id="first_name" name="first_name" s placeholder="First Name">
                </div>
              </div>
              <div class="col-md-6">
                <div class="input_box_cart">
                    <label>Last Name</label>
                    <input class="form-control" required type="text" id="last_name" name="last_name" s placeholder="Last Name">
                  </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <div class="input_box_cart">
                    <label>User Name</label>
                    <input class="form-control" required type="text" id="user_name" value="{{user.username}}" name="user_name" s placeholder="User Name">
                </div>
              </div>
            </div>
            {%else%}
            <div class="row">
              <div class="col-md-6">
                <div class="input_box_cart">
                    <label>User name</label>
                    {{user.username}}
                  </div>
              </div>
            </div>
            {%endif%}
            <div class="row">
              <div class="col-md-6">
                <div class="input_box_cart">
                    <label>Mobile No</label>
                    <input class="form-control" required type="text" id="phone" name="phone" value="{{orderdata.phno}}" placeholder="+123 456 789">
                </div>
              </div>
              <div class="col-md-6">
                <div class="input_box_cart">
                    <label>E-mail</label>
                    <input class="form-control" id="email" required type="text" name="email"  value="{{user.email}}" readonly placeholder="example@email.com">
                </div>
              </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                  <div class="input_box_cart">
                    <label>Country</label>
                    <select class="custom-select">
                        <option selected>India</option>
                    </select>
                  </div>
                </div>
                  <div class="input_box_cart" >
                    <label>PinCode</label>
                    <div style="display: flex;">
                    <input class="form-control" type="text" name="pincode"  id='pincode' value="{{orderdata.pincode}}" required placeholder="Pincode">
                    <input type="button" style="height: 100% !important;width: 20% !important;" class='form-control' id="check_pincode" value="check">
                    </div>
                  </div>

              </div>

              <div class="row">
                <div class="col-md-6">
                  <div class="input_box_cart">
                    <label>State</label>
                    <input class="form-control" type="text" name="state" id="state" value="{{orderdata.state}}" required disabled placeholder="State">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="input_box_cart">
                    <label>District</label>
                    <input class="form-control" name="city" type="text" id="district" value="{{orderdata.district}}" required disabled placeholder="City">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="input_box_cart">
                    <label>City</label>
                    <input class="form-control" type="text" name="city" value="{{orderdata.city}}" required placeholder="city">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="input_box_cart" >
                    <label>Area</label>
                    <input class="form-control" type="text" name="area" value="{{orderdata.city}}" required placeholder="area">
                  </div>
                </div>
              </div>
              
            <div class="row">
              <div class="col-md-12">
                <div class="input_box_cart">
                  <textarea rows="4" name="address" placeholder="Full Address" required>{{orderdata.address}}</textarea>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-5">
          <p class="billing_text">Your Cart</p>
          <div class="yourCart_div">
            {% if is_single_product_checkout %} product:
            <div class="cart_img_content">
              <!-- start -->
              <div class="cart_food_img">
                <img style="max-width: 100px;" src="/media/{{product.images_set.first.images}}">
              </div>
              <div class="food_dec_flex">
                <label>{{product.product_name}}</label>

                <div class="food_img_price_des">

                {% if product.product_choices_set.all %}
                <label for="verient">option: {{verient.product_options}}</label>
                <input type="text" name="{{product.id}}verient" value="{{verient.id}}" hidden>
                <input type="text" name="product_id" value="{{product.id}}" hidden>

                <p><input type="text" class="price" value="{{verient.options_cost}}"  hidden>{{verient.options_cost}}</p>
                <input type="number" style="width: 100px;" class="quantity" name="quantity{{verient.id}}" min="1" value="1">
                
                {%else%}
                <input type="text" name="product_id" value="{{product.id}}" hidden>
                <input type="number" style="width: 100px;" class="quantity" name="quantity{{product.id}}" min="1" value="1">
                <p><input type="text" class="price" value="{{product.price}}"  hidden>{{product.price}}</p>
                {% endif %}
            
              </div>
            </div>
            {%else%}

            <div class="cart_img_content">
              {% for cart_item in cartdata %}
                <div style="display: flex;" class="food_img_price_des">
                  <div class="cart_food_img">
                    <img style="max-width: 100px;" src="/media/{{cart_item.products.images_set.first.images}}">
                  </div>
                  <div class="food_dec_flex">
                    <label>{{cart_item.products.product_name}}</label>
                    {% if cart_item.products.product_choices_set.all %}
                    <label for="verient">option:{{cart_item.verients.product_options}}</label>
                    <input type="text" name="{{cart_item.products.id}}verient" value="{{cart_item.verients.id}}" hidden>
                    <input type="text" name="product_id" value="{{cart_item.products.id}}" hidden>

                    <p><input type="text" class="price" value="{{cart_item.verients.options_cost}}"  hidden>{{cart_item.verients.options_cost}}</p>
                    <input type="number" style="width: 100px;" class="quantity" name="quantity{{cart_item.verients.id}}" min="1" value="1" >
                    
                    {%else%}
                    <input type="text" name="product_id" value="{{cart_item.products.id}}" hidden>
                    <input type="number" style="width: 100px;" class="quantity" name="quantity{{cart_item.products.id}}" min="1" value="1">
                    <p><input type="text" class="price" value="{{cart_item.products.price}}"  hidden>{{cart_item.products.price}}</p>
                    {% endif %}
                
                  </div>
                </div>
                {% endfor %}
              </div>
              {% endif %}
          </div>
          <div class="cart_total">
            <div class="price_total">
              <p>Total</p>
              <p>500</p>
            </div>
            <div class="Shipping">
              <p>Shipping</p>
              <p>free</p>
            </div>
          </div>
          <input id="payid" name="payid" hidden>
          <button type="button" class="total_btn_cart">
            <span>Total</span>
            <span>500</span>
          </button>
        </div>
      </div>
    </div>
  </div>
  <button id="rzpbutton" class="total_btn_cart text_center_button mt-12px bg_green"><i class="fas fa-money-bill"></i> pay with razorpay</button>
  <!-- end content -->

<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script src="{% static 'user/js/checkout.js' %}"></script>
<script>
  var grandTotal = 0;

$(document).ready(function () {
    updateCart();
    $('.quantity').on('input', updateCart);

    function updateCart() {
        var subtotal = 0;

        $('.food_img_price_des').each(function () {
            var priceStr = $(this).find('.price').val(); // Fetching price value as string
            var price = parseFloat(priceStr); // Parsing price string to float
            if (isNaN(price)) {
                return; // Skip to the next iteration
            }

            var quantityStr = $(this).find('.quantity').val(); // Fetching quantity value as string
            var quantity = parseInt(quantityStr, 10); // Parsing quantity string to integer
            if (isNaN(quantity)) {
                return; // Skip to the next iteration
            }

            var total = price * quantity;
            $(this).find('.total_price').text(total.toFixed(2));

            subtotal += total;
        });
        
        // Calculate subtotal, shipping, and total
        var total = subtotal;
        $('.price_total p:last-child').text('₹' + subtotal.toFixed(2));
        var csrfToken = getCookie('csrftoken');
        
        // Make AJAX request to get shipping cost
        $.ajax({
            url: '/shipping_cost/',
            method: 'POST',
            data: {
                'total': total.toFixed(2)  
            },
            dataType: 'json',
            headers: {
            'X-CSRFToken': csrfToken
        },
            success: function(response) {
                var shipping = parseFloat(response.shipping);
                grandTotal = subtotal + shipping; // Update grandTotal here
                
                $('.Shipping p:last-child').text('₹' + shipping.toFixed(2));
                $('.total_btn_cart span:last-child').text('₹' + grandTotal.toFixed(2));
            },
            error: function(xhr, status, error) {
                console.error('Error fetching shipping cost:', error);
            }
        });
    }
});

document.getElementById('rzpbutton').onclick = function (e) {
  var isTrue = "{{userdata.email_verified}}";
    if (isTrue == 'False') {
        alert("Email is not verified \n Email verification is manditaory for making orders \n check your inbox and spam on registered mail for verification link.");
        return;
    }  

  // Check if all fields are filled
    if (!validateForm()) {
        alert('Please fill in all fields before proceeding to payment.');
        return;
    }
    

    var options = {
        "key": "rzp_test_M0U7Np7zuHXK2B", //test key
        "amount": (grandTotal.toFixed(2) * 100),  // Use grandTotal here
        "currency": "INR",
        "description": "Acme Corp",
        "image": "{% static 'user/img/fablogo.jpeg' %}",
        "prefill": {
            "email": $('#email').val(),
        },

       
      'method':'upi',

        "handler": function (response) {
            alert(response.razorpay_payment_id);
            if (response.razorpay_payment_id) {
                $('#payid').val(response.razorpay_payment_id);
                $('#regForm').submit();
            } else {
                alert("Payment failed. Please try again.");
            }
        },
        
        "modal": {
            "ondismiss": function () {
                if (confirm("Are you sure, you want to close the form?")) {
                    console.log("Checkout form closed by the user");
                } else {
                    console.log("Complete the Payment");
                }
            }
        }
        
    };
    
    var rzp1 = new Razorpay(options);
    rzp1.open();
    e.preventDefault();
}

function validateForm() {
    var isValid = true;
    $('.input_box_cart input, .input_box_cart select, .input_box_cart textarea').each(function () {
        if ($(this).val() === '') {
            isValid = false;
            return false; // Exit the loop early if any field is empty
        }
    });
    return isValid;
}
</script>


      
  </div>

{% endblock %}
