{% extends 'base/base.html' %} 
{% load static %} 
{% block title %} Buy2Sell {% endblock %} 
{% block content %}
{% load custom_filters%}

<script src="https://kit.fontawesome.com/8fb3884555.js" crossorigin="anonymous" class="lazy"></script>

<style>

    .section-header {
        margin-bottom: 20px;
        text-align: center;
    }

    .section-title {
        font-size: 1em;
        color: #333;
    }

    .product_row {
        display: flex;
        flex-wrap: wrap;
       
    }

    .product-grid {
        background-color: #fff;
        font-family: 'Montserrat', sans-serif;
        text-align: center;
        padding: 5px; /* Adjust padding */
        margin: 0 auto 30px; /* Adjust margin */
        max-width: 250px; /* Adjust max-width for smaller screens */
        border: 1px solid #ccc;
        border-radius: 5px;
    }


    .product-grid .product-image {
        position: relative;
        overflow: hidden;
        height: 200px; /* Set a fixed height for the product image */
    }

    .product-grid .product-image img {
        width: 100%;
        height: 100%; /* Ensure the image fills the container */
        object-fit: cover; /* Maintain aspect ratio and cover the container */
    }

    /* .product-grid .product-image .pic-1 {
        transition: all 0.3s ease 0s;
    }

    .product-grid .product-image:hover .pic-1 {
        transform: translateX(100%);
    }

    .product-grid .product-image .pic-2 {
        width: 100%;
        height: 100%;
        transform: translateX(-101%);
        position: absolute;
        top: 0;
        left: 0;
        transition: all 0.3s ease 0s;
    }

    .product-grid .product-image:hover .pic-2 {
        transform: translateX(0);
    } */

    .product-grid .product-like-icon {
        color: #000000;
        font-size: 22px;
        line-height: 20px;
        position: absolute;
        top: 15px;
        right: 15px;
    }

    .product-grid .product-links {
        position: absolute;
        bottom: -50px;
        left: 50%;
        transform: translateX(-50%);
        list-style: none;
        padding: 0;
        margin: 0;
        opacity: 0;
        transition: all 0.3s ease 0s;
    }

    .product-grid:hover .product-links {
        bottom: 10px;
        opacity: 1;
    }

    .product-grid .product-links li {
        display: inline-block;
        margin: 0 2px;
    }

    .product-grid .product-links li a {
        display: block;
        width: 36px;
        height: 36px;
        line-height: 36px;
        font-size: 14px;
        color: #fff;
        background-color: #c8a59a;
        border-radius: 10px;
        transition: all 0.3s ease 0s;
    }

    .product-grid:hover .product-links li a:hover {
        background-color: #333;
    }

    .product-grid .product-content {
        padding: 15px 0 0;
        text-align: left;
    }

    .product-grid .product-image img {
        height: 300px; /* Set height for product image */
        overflow: hidden; /* Hide overflow content */
    }

    .product-grid .title {
        font-size: 14px;
        font-weight: 500;
        font-family: Poly, serif;
        font-weight: 400;
        font-style: normal;
        text-transform: capitalize;
        margin: 0 0 8px;
        overflow:hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1; /* Limit product name to 2 lines */
        line-height: 1.2em; /* Ensure consistent line height */
        max-height: 2.4em; /* Set maximum height for 2 lines */
        margin: 0 0 8px;
        text-overflow: ellipsis;
    }

    .product-grid .title a {
        color: #333;
        transition: all 0.3s ease 0s;
    }

    .product-grid .title a:hover {
        color: #0a805e;
    }

    .product-grid .price {
        color: #0a805e;
        font-size: 16px;
        font-weight: 500;
    }

    .product-grid .price span {
        color: #555;
        font-size: 14px;
        font-weight: 400;
        text-decoration: line-through;
        margin: 0 5px 0 0;
    }

    @media screen and (max-width: 1000px) {
        .col-md-2 {
        /* Adjust to display two products per row */
        max-width: 50%; /* Adjust maximum width for smaller screens */
        padding-left: 0%;
        padding-right: 0%;
    }

    .product-grid {
        padding: 5px; /* Reduce padding for product grid */
        margin: 0 5px 10px; /* Adjust margin to reduce space between products */
        max-width: 100%; /* Adjust max-width for smaller screens */
    }
    .product_row{
        padding: 0px;
        flex-wrap:wrap;

    }
        .product-grid .product-image {
            height: 150px; /* Adjust height for product image */
        }
        .product-grid .product-content {
            text-align: center; /* Center-align text */
        }
        .product-grid .title {
            font-size: 14px; /* Adjust font size for product title */
            margin-bottom: 5px; /* Add some space below product title */
        }
        .product-grid .price {
            font-size: 14px; /* Adjust font size for product price */
        }
        .container {
            margin: 0; /* Remove default margin for container */
        }
    }

    #billboard .swiper-slide {
    height: 100px; /* Set your desired height */
}


.swiper-slide {
    position: relative; /* Ensure proper positioning */
    background-size: cover; /* Cover entire slide area */
    background-position: center; /* Center the background image */
    padding: 30px;
}
/* Ensure the images cover the entire slide */
#billboard .swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Maintain aspect ratio and cover the container */
}

/* Ensure the images are centered */
#billboard .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}
    /* Make the carousel responsive */
    @media screen and (max-width: 768px) {
        #billboard .swiper-slide {
            width: 10px;
            height: 200px; /* Adjust height for smaller screens */
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }
    }
    .navigation-buttons {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 0 20px;
        box-sizing: border-box;
        z-index: 1;
    }

    .navigation-buttons .prev-button,
    .navigation-buttons .next-button {
        background-color: #ed7aa5;
        color: #fff;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s;
    }

    .prev-button,
    .next-button {
        background-color: #333; /* Button background color */
        color: #fff; /* Button text color */
        border: none; /* Remove button border */
        padding: 10px 20px; /* Add padding */
        border-radius: 5px; /* Add rounded corners */
        cursor: pointer; /* Add cursor pointer */
        transition: background-color 0.3s; /* Add transition for smoother hover effect */
    }

    .prev-button:hover,
    .next-button:hover {
        background-color: #555; /* Change background color on hover */
    }

    .navigation-buttons .prev-button:hover,
    .navigation-buttons .next-button:hover {
        background-color: #555;
    }
    .product-grid {
    position: relative;
}

.product-image {
    position: relative;
}

.add-to-cart-icon {
    position: absolute;
    bottom: 10px; /* Adjust as needed */
    right: 10px; /* Adjust as needed */
    background: rgba(255, 255, 255, 0.7); /* Optional: add background for better visibility */
    border-radius: 50%;
    padding: 5px; /* Adjust as needed */
    color: #333; /* Change color as needed */
    text-align: center;
    width: 30px;
    height: 30px;
    line-height: 20px; /* Align icon vertically */
    font-size: 16px; /* Adjust size as needed */
}

.add-to-cart-icon:hover {
    color: #fff; /* Change color on hover */
    background: #333; /* Change background on hover */
}
.title {
    text-align: center;
    position: relative;
   padding: 10px;
  }
  .title h1 {
    font-size: 22px;
    display: inline-block;
    margin: 0px;
    /* border-bottom: 2px solid black;*/ /* You can change the color and thickness */
  }

  /* Styling for the content with bullet points */
  .content {

  }
  .content ul {
    list-style-type: disc; /* You can change to circle or square */
    text-align: left;
 }


 .title {
  text-align: center;

}

.content {
  text-align: left;
}


 ::selection{
  background: rgba(23,162,184,0.3);
}
.wrapper {
  padding: 10px;
  margin-top: 100px;
  display: flex;
  flex-wrap: nowrap; /* Prevent wrapping items onto the next line */
  align-items: flex-start; /* Adjusted alignment */
  justify-content: flex-start; /* Start from the left */
  overflow-x: auto; /* Enable horizontal scrolling */
  overflow-y: hidden; /* Hide vertical scrollbar */
  max-width: 100%; /* Ensure it takes up full width of its container */
}

.wrapper .box {
    margin: 15px;
  background: #fff;
  flex: 0 0 auto; /* Maintain fixed width based on content */
  width: calc(33.33% - 10px); /* Adjusted width for three-column layout with spacing */
  padding: 25px;
  border-radius: 3px;
  margin-right: 10px; /* Spacing between boxes */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
  box-sizing: border-box; /* Ensures padding and border are included in the width */
}

.wrapper .box:last-child {
  margin-right: 0; /* Remove right margin from the last box to prevent extra space */
}

.wrapper .box i.quote {
  font-size: 20px;
  color: #17a2b8;
}

.wrapper .box .content {
  display: flex;
  flex-direction: column; /* Changed to column layout for better stacking */
  align-items: flex-start; /* Adjusted alignment */
  padding-top: 10px;
}

.box .info .name {
  font-weight: 600;
  font-size: 17px;
}

.box .info .job {
  font-size: 16px;
  font-weight: 500;
  color: #17a2b8;
}

.box .info .stars {
  margin-top: 2px;
}

.box .info .stars i {
  color: #17a2b8;
}

.box .content .image {
  height: 75px;
  width: 75px;
  padding: 3px;
  background: #17a2b8;
  border-radius: 50%;
}

.content .image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid #fff;
}

.box:hover .content .image img {
  border-color: #fff;
}

@media (max-width: 1045px) {
  .wrapper .box {
    width: calc(50% - 10px);
    margin-right: 10px; /* Adjusted margin */
  }
}

@media (max-width: 702px) {
  .wrapper .box {
    width: 100%;
    margin-right: 0; /* Remove margin for full-width boxes */
  }
}

</style>

<section id="billboard" class="overflow-hidden">
    <div class="swiper main-swiper">
        <div class="swiper-wrapper">
            {% for i in carousel %}
            <div class="swiper-slide"
                style="background-image: url('/media/{{ i.image }}');">
                <div class="banner-content">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6">
                                <h2 class="banner-title"></h2>
                                <p></p>
                                <div class="btn-wrap">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <!-- Navigation buttons for billboard -->
        <div class="navigation-buttons">
            <button class="prev-button">
                <i class="fas fa-chevron-left"></i>
            </button>
            <button class="next-button">
                <i class="fas fa-chevron-right"></i>
            </button>
        </div>
    </div>
  </section>

  <div class="container" style="font-family: Poly, serif;
  font-weight: 400;
  font-style: normal;">
    {% for cate in index_cat %}
    <div class="section-header d-flex flex-wrap align-items-center justify-content-between" style="padding-bottom: 0px;margin-bottom: 0px;">
        <h2 class="section-title" style="font-family: Poly, serif;">{{ cate.category }}</h2>
        <div class="btn-wrap">
            <a href="{% url 'category' cate.category %}" class="d-flex align-items-center">View all products <i class="icon icon icon-arrow-io"></i></a>
        </div>
    </div>
    <div class="product_row">
        {% for product in cate.category.products_set.all|slice:":6" %}
        {% if not product.is_deleted %}
    
        <div class="col-md-2">
            <div class="product-grid">
                <div class="product-image">
                    <a href="{% url 'product_details' product.id %}" class="image">
                        <img class="pic-1" src="/media/{{ product.images_set.first.images }}" class="lazy">
                    </a>
                    <a href="{% url 'add_to_cart' product.id %}" class="add-to-cart-icon">
                        <i class="fas fa-shopping-cart"  ></i>
                    </a>
                </div>
                <div class="product-content">
                    <h3 class="title"><a href="{% url 'product_details' product.id %}">{{ product.product_name }}</a></h3>
                    <div class="price">₹{{ product.price }} <del style="color: #555;">₹{{ product.max_price }}</del></div>
                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
    
    
    {% endfor %}

    <div class="title">
        <h1>Testimonals</h1>
      </div>
    
      <div class="wrapper" style="margin-top:0px;">
    {% for i in rating%}
        <div class="box">
          <i class="fas fa-quote-left quote"></i>
          <p>{{i.review}}<p>
          <div class="content">
            <div class="info">
              <div class="name">{{i.user}}</div>
              <div class="job">{{i.country}}</div>
    
             <div class="stars">
                {% for i in i.stars|int_range %}
                    <i class="fas fa-star"></i>
                {% endfor %}
                {% for i in 5|subtract:i.stars|int_range %}
                    <i class="far fa-star"></i>
                {% endfor %}
            </div>
    </div>
    
    
            </div>
            <div class="image">
              <img src="images/profile-1.jpeg" alt="">
            </div>
          </div>
    {%endfor%}
      </div>
        </div>
    
      </div>
</div>


  <script>
    document.addEventListener('DOMContentLoaded', function() {
    // Initialize Swiper for featured products
    var swiper = new Swiper('.product-swiper', {
      // Add Swiper options here
      slidesPerView: 'auto',
      spaceBetween: 20,
      navigation: {
        nextEl: '.next-button',
        prevEl: '.prev-button',
      },
    });
  
    // Initialize Swiper for billboard
    var swiperBillboard = new Swiper('.main-swiper', {
      // Add Swiper options here
      loop: true, // Enable loop mode
      navigation: {
        nextEl: '.next-button',
        prevEl: '.prev-button',
      },
    });
  });
  
  </script>
  

{% endblock %}
