{% extends 'base/base.html' %} {%load static%} {% block content %}
{% load custom_filters%}
<div class="container">

<style>
      .title {
    text-align: center;
    position: relative;
   padding: 10px;
  }
  .title h1 {
    font-size: 22px;
    display: inline-block;
    border-bottom: 2px solid black; /* You can change the color and thickness */
  }

  /* Styling for the content with bullet points */
  .content {

  }
  .content ul {
    list-style-type: disc; /* You can change to circle or square */
    text-align: left;
 }


 .title {
  text-align: center;

}

.content {
  text-align: left;
}


 ::selection{
  background: rgba(23,162,184,0.3);
}
.wrapper {
  padding: 10px;
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.wrapper .box{
  background: #fff;
  width: calc(33% - 10px);
  padding: 25px;
  border-radius: 3px;
  margin-bottom:10px;
  box-shadow: 0px 4px 8px rgba(0,0,0,0.15);
}
.wrapper .box i.quote{
  font-size: 20px;
  color: #17a2b8;
}
.wrapper .box .content{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
}
.box .info .name{
  font-weight: 600;
  font-size: 17px;
}
.box .info .job{
  font-size: 16px;
  font-weight: 500;
  color: #17a2b8;
}
.box .info .stars{
  margin-top: 2px;
}
.box .info .stars i{
  color: #17a2b8;
}
.box .content .image{
  height: 75px;
  width: 75px;
  padding: 3px;
  background: #17a2b8;
  border-radius: 50%;
}
.content .image img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid #fff;
}
.box:hover .content .image img{
  border-color: #fff;
}

@media (max-width: 1045px) {
  .wrapper .box{
    width: calc(50% - 10px);
    margin: 10px 0;
  }
}
@media (max-width: 702px) {
  .wrapper .box{
    width: 100%;
  }
  .container{
  margin: 0px;
  }
}
</style>





<div class="title">
    <h1>About</h1>
  </div>

  <div class="content">
    <ul>
      <li>Introducing our handcrafted home decor and Linens..! </li>
      <li>Our products are hand made in the rural regions of Jaipur. Hand-block prints were introduced at the beginning of the 11th century. The blocks are hand-craved on wood to form a pattern, dyed and printed on cotton. </li>
      <li>Add our prints and colors to make your home more beautiful and artistic. The Mughal floral prints depict buds, flowers, and leaves that evoke a sense of airy calm. Combine these prints with soft cotton to have the ideal mix of comfort and class.</li>
      <!-- Add more points as needed -->
    </ul>
  </div>






  <div class="title">
    <h1>Testimonals</h1>
  </div>

  <div class="wrapper" style="margin-top:0px;">
{% for i in rating%}
    <div class="box">
      <i class="fas fa-quote-left quote"></i>
      <p>{{i.review}}<p>
      <div class="content">
        <div class="info">
          <div class="name">{{i.user}}</div>
          <div class="job">{{i.country}}</div>

         <div class="stars">
            {% for i in i.stars|int_range %}
                <i class="fas fa-star"></i>
            {% endfor %}
            {% for i in 5|subtract:i.stars|int_range %}
                <i class="far fa-star"></i>
            {% endfor %}
        </div>
</div>


        </div>
        <div class="image">
          <img src="images/profile-1.jpeg" alt="">
        </div>
      </div>
{%endfor%}
  </div>
    </div>

  </div>


{% endblock %}
