{% extends 'base/base.html' %} {%load static%} {% block title %} Buy2Sell {% endblock %} {% block content %}
<style>
        .contents {
            font-family: Arial, sans-serif;
            background-color: #f0f0f0;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 70vh;
        }

        .card {
            background-color: #fff;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            padding: 20px;
            text-align: center;
            max-width: 300px;
            width: 100%;
        }

        .address {
            font-size: 1.3em;
font-family: Poly, serif;            color: #666;
            margin-bottom: 20px;
        }
        .address a {
        padding:10px;
        }

@media screen and (max-width: 1000px) {
    .container {
  margin: 0;
}
}
</style>
<center>
    <div class="contents">
<div class="card">
        <img src="{% static 'user/img/fablogo.jpeg' %}" alt="logo" class='logo'>
        <div class="address">
        Krishnaswamy Nagar<br>
        Sowripalayam Pirivu,<br>
        Coimbatore,Tamil Nadu 641045
        <br>
          <a href="#"><i class="fa fa-facebook"></i></a>
  <a href="#"><i class="fa fa-instagram"></i></a>
  <a href="#"><i class="fa fa-youtube"></i></a>
  <a href="#"><i class="fa fa-twitter"></i></a>
  <a href="https://api.whatsapp.com/send/?phone=%2B917010326895&text&type=phone_number&app_absent=0" target="_blank"><i class="fa fa-whatsapp"></i></a>
        </div>
    </div>
</div>
        </center>

    {% endblock %}
