{% extends 'base/base.html' %} {%load static%} {% block title %} Buy2Sell {% endblock %} {% block content %}

<style>
.Refunds {
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.Refunds-content {
  font-family: Arial, sans-serif;
}

.Refunds h2 {
  text-align: center;
  color: #333;
}
.container {
  margin: 0;
}


</style>
<div class="container">

<div class="Refunds">
  <div class="Refunds-content">
    <h2 style="font-family: Poly, serif;">Refunds (if applicable) </h2>
    <ul style="font-family: Poly, serif;">
      <li>Once your return is received and inspected, we will send you an email to notify you that we have received your returned item. We will also notify you of the approval or rejection of your refund.</li>
      <li>If you are approved, then your refund will be processed, and a credit will automatically be applied to your credit card or original method of payment, within a certain amount of days.</li>
      <li>Late or missing refunds (if applicable)</li>
      <li>If you haven’t received a refund yet, first check your bank account again.</li>
      <li>Then contact your credit card company, it may take some time before your refund is officially posted.</li>
      <li>Next, contact your bank. There is often some processing time before a refund is posted.</li>
      <li>If you’ve done all of this and you still have not received your refund yet, please contact us.</li>
    </ul>
  </div>
</div>

<div class="Refunds">
  <div class="Refunds-content">
    <h2 style="font-family: Poly, serif;">Exchanges (if applicable) </h2>
    <ul style="font-family: Poly, serif;">
      <li>We only replace items if they are defective or damaged.</li>
      <li>You will be responsible for paying for your own shipping costs for returning your item. Shipping costs are non-refundable. If you receive a refund, the cost of return shipping will be deducted from your refund.</li>
      <li>Depending on where you live, the time it may take for your exchanged product to reach you may vary.</li>
    </ul>
  </div>
</div>


  
  </div>
  </section>
{% endblock %}
