{% extends 'base/base.html' %} {%load static%} {% block title %} Buy2Sell {% endblock %} {% block content %}
  <div class="container">

<style>
.Refunds {
  border-radius: 5px;
  margin-bottom: 20px;
}

.Refunds-content {
  font-family: Arial, sans-serif;
}

.Refunds h2 {
  text-align: center;
  color: #333;
}

.Refunds ul {
  list-style-type: disc;
  padding-left: 20px;
}

.Refunds ul li {
  margin-bottom: 10px;
}

.Refunds .Refunds-content p{
    font-family: Poly, serif;
      font-weight: 400;
      font-style: normal;
      padding-bottom: 10px; /* Adjust padding for spacing */
      margin-bottom: 10px; /* Adjust margin for spacing */
      white-space: pre-wrap;       /* CSS3 */
    white-space: -moz-pre-wrap;  /* Firefox */
    white-space: -pre-wrap;      /* Opera <7 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* IE */
}

</style>

<div class="Refunds">
  <div class="Refunds-content">
    <h2 style="font-family: Poly, serif;">​Shipping</h2>
    

​
<p>
Fabkraft partners with leading logistics providers in India such as Delhivery, Aramex, BlueDart, and DTDC. Once your order has been fulfilled and despatched - we will send you an email/text with the Tracking No. for your package.

It takes usually 4-5 business days for the parcel to arrive at your location, anywhere in India. 

Kindly excuse any additional delay in case of bad weather / natural calamities.

International orders are delivered in 12 to 15 working days. Delivery time may vary depending upon the shipping address. Payments for International Orders are done via Pay Pal

For Shipping Charges anywhere outside India please contact us at www.thefabkraft.com

Orders placed on Saturdays and Sundays will be executed on Monday.</p>

<h2 style="font-family: Poly, serif;">​Return Policy</h2>

​<p>

Fabkraft makes sure each and every product is carefully inspected before shipping them out. However, there may be a slight margin of error, if that be the case, kindly send us a message describing the error and we'll do our best to replace it as soon as possible.
​
Returns and/or exchange requirements are accepted within 7 days of a customer receiving the order. 

Items that need to be returned or exchanged have to be in new condition without any wash or usage and to be returned in their original packaging with all tags, stickers, boxes, etc. intact, within 7 days of delivery.

We are unable to exchange or refund used, laundered, or customer-damaged goods.

</p>
<h2 style="font-family: Poly, serif;">Returns</h2>
 ​
<p>
Damaged products can be returned if an unboxing video is sent.

Our policy lasts 15 days. If 15 days have gone by since your purchase, unfortunately, we can’t offer you a refund or exchange.

To be eligible for a return, your item must be unused and in the same condition that you received it. It must also be in the original packaging.
</p>
​
  </div>
</div>


  
  </div>
{% endblock %}
